!! Dracula Xresources palette

*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #44475A
*.color1:     #FF5555
*.color9:     #FF5555
*.color2:     #50FA7B
*.color10:    #50FA7B
*.color3:     #F1FA8C
*.color11:    #F1FA8C
*.color4:     #BD93F9
*.color12:    #BD93F9
*.color5:     #FF79C6
*.color13:    #FF79C6
*.color6:     #8BE9FD
*.color14:    #8BE9FD
*.color7:     #BBBBBB
*.color15:    #FFFFFF

!! URxvt

! Background transparency
URxvt.background: [90]#282A36

! Font
#define FONT Source Code Pro for Powerline
URxvt.font: xft:FONT:size=10

! Disable scrollbar
URxvt.scrollBar: false

! Bit depth
URxvt.depth: 32

! Hide cursor on keypress
URxvt.pointerBlank: true

! Underline color
URxvt.colorUL: #4682B4

! Do not scroll with output
URxvt.scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

! Disable the scrollback buffer for the secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
!URxvt.secondaryWheel: 1

! Scrolling with Meta-j/k
URxvt.keysym.M-k: command:\033]720;5\007
URxvt.keysym.M-j: command:\033]721;5\007

! Arrow keys
!URxvt.keysym.C-Up: \033[1;5A
!URxvt.keysym.C-Down: \033[1;5B
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-Right: \033[1;5C

! Extensions
URxvt.perl-ext-common: default,resize-font,keyboard-select,url-select

! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

! resize-font
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: xdg-open
URxvt.url-select.underline: true
URxvt.url-select.button: 1
