!! Colors

#include ".config/gruvbox-dark.xresources"

!! Common

#define FONT Source Code Pro:pixelsize=13:antialias=true:hinting=true

!! st

! Transparency
st.alpha: 0.9

! Font
st.font: FONT

!! URxvt

! Set max buffer size
URxvt.saveLines: 65535

! Disable ISO 14755 unicode input
URxvt.iso14755: false
URxvt.iso14755_52: false

! Background transparency
URxvt.background: [95]#282828

! Font
URxvt.font: xft:FONT

! Disable scrollbar
URxvt.scrollBar: false

! Bit depth
URxvt.depth: 32

! Hide cursor on keypress
URxvt.pointerBlank: true

! Underline color
URxvt.colorUL: #4682B4

! Do not scroll with output
URxvt.scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

! Disable the scrollback buffer for the secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

! Scrolling with Meta-j/k
URxvt.keysym.M-k: command:\033]720;5\007
URxvt.keysym.M-j: command:\033]721;5\007

URxvt.keysym.M-s: \033s

! Ctrl-Arrow keys
URxvt.keysym.C-Up: \033[1;5A
URxvt.keysym.C-Down: \033[1;5B
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-Right: \033[1;5C

! Shift-Arrow keys
URxvt.keysym.S-Up: \033[1;2A
URxvt.keysym.S-Down: \033[1;2B
URxvt.keysym.S-Left: \033[1;2D
URxvt.keysym.S-Right: \033[1;2C

URxvt.keysym.C-Home: \033[1;5H
URxvt.keysym.C-End: \033[1;5F

! Extensions
URxvt.perl-ext-common: default,resize-font,keyboard-select,url-select,selection-to-clipboard

! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: xdg-open
URxvt.url-select.underline: true
URxvt.url-select.button: 1
